// sample

body {
  font-family: $fontfamily;
  padding: 0 1em;
}

header {
  z-index: z(header);
}

footer {
  z-index: z(footer);
}

section {
  display: flex;
  flex-wrap: wrap;
  h2 {
    width: 100%;
  }
}

.blocks {
  padding: 0.25em;
}

.hoge {
  @include mq {
    width: 100px;
  }
}

.fuga {
  @include mq(min) {
    width: 200px;
  }
}

.piyo {
  @include mq(max, 1280) {
    width: 300px;
  }
}

.hogehoge {
  @include mq(min, 320) {
    width: 400px;
  }
}
