.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 20px;
  font-family: $font-family-en;
  font-weight: 400;
  border-bottom: 1px solid $color-border;
  &__item {
    display: flex;
    align-items: center;
  }
  &__text {
    padding-right: 10px;
    font-size: 1.125em;
    font-family: $font-family-en;
    font-weight: 600;
    &__day {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 3px 6px 2px 6px;
      min-width: 36px;
      font-size: .5em;
      background-color: $color-day;
      color: $color-white;
      border-radius: 10px;
      font-family: $font-family-en;
      font-weight: 600;
    }
  }
  &__temp {
    span {
      padding: 0 5px;
    }
  }
}