.week {
  &-weather {
    padding: 0 20px;
    max-height: 200px;
    overflow-y: scroll;
    &__item {
      display: flex;
      align-items: center;
      padding: 10px 0;
      font-family: $font-family-en;
      font-weight: 400;
      &:not(:last-child) {
        border-bottom: 1.5px solid rgba($color-border,.2);
      }
    }
    &__day {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 20px;
      min-width: 110px;
      text-align: left;
    }
    &__img {
      margin-right: 30px;
      max-width: 40px;
      max-height: 40px;
    }
    &__temp {
      display: inline-block;
      margin-right: 30px;
    }
    &__rainy {
      display: inline-block;
    }
  }
}